*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base: #ffc600;
    --spacing: 10px;
    --blue: 10px;
}

body{
    margin: 0 auto;
    width: 700px;
}

h2{
    text-align: center;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img{
    display: block;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));  
}